* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: linear-gradient(to right, #667eea, #764ba2);
  height: 100vh;;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  width: 100%;
}

.form-box {
  background-color: white;
  padding: 30px 40px;
  border-radius: 12px;
  width: 500px;
  max-width: 90%;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.form-header {
  margin-bottom: 20px;
}

.form-header h3 {
  font-size: 24px;
  font-weight: bold;
  color: #212529;
}

.form-group {
  margin-bottom: 18px;
}

.form-group label {
  font-size: 15px;
  font-weight: 600;
  color: #343a40;
  margin-bottom: 6px;
  display: block;
}

.form-input {
  width: 100%;
  padding: 12px 14px;
  font-size: 15px;
  border: 1px solid #ced4da;
  border-radius: 8px;
  background-color: #fff;
  transition: border-color 0.2s;
}

.form-input:focus {
  border-color: #3b82f6;
  outline: none;
}


.form-actions {
  text-align: right;
  margin-top: 20px;
}

.btn {
  padding: 10px 16px;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}

.btn-primary {
  background: linear-gradient(to right, #3b82f6, #2563eb);
  color: white;
}

.btn-primary:hover {
  background: linear-gradient(to right, #2563eb, #1d4ed8);
}
.close-btn {
  position: absolute;
  top: 38px;
  right: 520px;
  background: none;
  border: none;
  font-size: 30px;
  font-weight: bold;
  color: #555;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.close-btn:hover {
  color: #000;
}
.btn-secondary {
  background: linear-gradient(to right, #3b82f6, #2563eb);
  color: white;
}
.btn-secondary:hover {
  background-color: linear-gradient(to right, #2563eb, #1d4ed8);
}
