* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to right, #667eea, #764ba2);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.form-container {
  background-color: white;
  border-radius: 20px;
  padding: 40px;
  width: 100%;
  max-width: 450px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
}

.form-card {
  width: 100%;
}

.form-close {
    position: absolute;
    top: 30px;
    right: 550px;
    font-size: 28px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    z-index: 10;
}

.form-close:hover {
    color: #ff4d4d;
}

.form-header {
  text-align: center;
  margin-bottom: 30px;
}

.logo-icon i{
  font-size: 26px;
  color: rgb(208, 177, 118);
  font-weight: bold;
  margin-right: 8px;
}
.logo-icon{
    font-size: 24px;
    font-weight: bold;
    color: #1d4ed8;
    margin-bottom: 20px;
}

.form-header h1 {
  font-size: 28px;
  margin-top: 10px;
  color: #111827;
}

.form-header p {
  font-size: 14px;
  color: #6b7280;
  margin-top: 3px;
}


.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
  color: #111827;
  font-weight: 500;
}

.form-input {
  width: 100%;
  padding: 12px;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  font-size: 14px;
}

.form-input:focus {
  outline: none;
  border-color: #3b82f6;
  box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.2);
}


.btn-primary {
  background: linear-gradient(to right, #3b82f6, #2563eb);
  color: white;
  border: none;
  padding: 12px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  transition: background 0.3s ease;
}

.btn-primary:hover {
  background: linear-gradient(to right, #2563eb, #1d4ed8);
}


.error-message,
.success-message {
  font-size: 14px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 4px;
}

.error-message {
  color: #b91c1c;
  background-color: #fee2e2;
}

.success-message {
  color: #065f46;
  background-color: #d1fae5;
}

.hidden {
  display: none;
}


.loading::after {
  content: '';
  width: 16px;
  height: 16px;
  border: 3px solid white;
  border-top: 3px solid transparent;
  border-radius: 50%;
  display: inline-block;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}


.form-footer {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
}

.form-footer a {
  color: #3b82f6;
  text-decoration: none;
}

.form-footer a:hover {
  text-decoration: underline;
}
